
/* star creates one set of rules
for the entire page to follow 
 */

html {
    background-color: gainsboro;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 header {
    padding: 5px;
    display: grid;
    background-color: aliceblue;
 }
 footer {
    background-color: aliceblue;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height:[footer-height]
 }
 body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, auto);
    text-align: center; 
 }
 div {
   display: grid;
   align-items: center;
   justify-content: center;
 }
 table{
   text-align: center;
   border: 1px solid;
   border-collapse: collapse;
    width: 300px;
 }

 thead {
   font-weight: 500;
   text-align: left;
 }

 tbody {
   text-align: right;
 }

 td {
    border: 3px solid black;
    padding: 2px;
 }

 img {
    border-radius: 80px;
    border-width: 20px;
    border: 20px black !important;
 }

#content {
    justify-content: stretch;
    justify-items: stretch;
    grid-column: 1 / -1;
}

 .internal {
    text-align: center;
    background-color: white;
    border: 3px solid lightblue;
    padding: 12px;
    display: inline-grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
 }
 .secondary {
    text-align: center;
    border: 3px solid black;
    padding: 2px;
 }
 main {
    max-width: 1000px;
    margin: auto;

 }